#mobile_nav_bar,
#scroll-button {
  position: fixed !important;
  z-index: 2;
}
.activeButton,
.title {
  color: #fab619 !important;
}
#container_clients_cases,
#container_partner {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 3%;
}
#container_about_us video,
#container_coffeemachine video,
#form_div {
  z-index: -1;
}
#container_ingredients,
#container_locations,
#form_div,
#mobile,
.title {
  text-align: center;
}

#container_clients_cases,
#container_ingredients,
#container_locations,
#form_container,
#form_container input,
footer {
  background-color: #252525;
}
@font-face {
  font-family: Monserat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body {
  margin: 0;
  background-color: #252525 !important;
  font-family: Monserat !important;
}
#scroll-button {
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}
button {
  -webkit-tap-highlight-color: transparent !important;
}
.title {
  padding-top: 4% !important;
  font-size: 3vw !important;
}
.video_container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 53vw;
}
.video_container video {
  pointer-events: none !important;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 2020px !important;
  height: 1280px !important; */
  max-width: none !important;
}
.about_video {
  width: 40%;
}
@media screen and (min-width: 2560px) {
  .video_container video {
    width: 2660px !important;
    height: 1540px !important;
  }
}
@media screen and (min-width: 3840px) {
  .video_container video {
    width: 3900px !important;
    height: 2300px !important;
  }
}
@media (max-width: 900px) {
  .video_container video {
    width: 1160px !important;
    height: 840px !important;
  }
  .video_container {
    height: 145vw;
  }
  #container_about_us {
    height: 95vh;
  }
}
@media (max-width: 380px) {
  .video_container {
    height: 180vw;
  }
}
#logo {
  width: 60%;
  height: auto;
}
#secondary_logo {
  width: 40%;
  padding: 2%;
  height: auto;
}
#primary_nav {
  z-index: 1;
  padding-top: 2%;
}
#primary_nav .nav-link {
  text-decoration: none;
  color: #fff !important;
}
#primary_nav .nav-link:hover {
  border-bottom: 1px solid #fab619;
  color: #fab619 !important;
}
#secondary_nav {
  z-index: 3;
  background-color: #fab619;
  padding: 2% 20%;
  width: 100%;
}
#mobile_nav_bar {
  background-color: #fab619;
  padding: 2% 5%;
  width: 100%;
}
#secondary_nav p {
  white-space: nowrap;
  color: #000;
  font-size: 1vw;
  font-weight: 700;
}
#secondary_nav .nav-link {
  text-decoration: none;
  color: #000 !important;
}
#secondary_nav .nav-link:hover {
  border-bottom: 1px solid #000;
  padding-bottom: 0;
  color: #000 !important;
}
.navbar-nav > li {
  margin-left: 15px;
  margin-right: 15px;
}
#container_title {
  z-index: 0;
  padding-left: 20%;
  padding-right: 20%;
}
#maintextHolder {
  color: #000000;
  position: relative;
  z-index: 1;
}
#mainText {
  letter-spacing: 1px;
}
#mainText span {
  font-size: 1.9vw;
  color: #000000;
  font-weight: 700;
}
#mainText p {
  font-size: 1.7vw;
}
#container_title button {
  margin-top: 5%;
  border-radius: 17px;
  border: none;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 1.5em;
  background-color: #fab619;
}
#container_about_us {
  z-index: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  background-color: #131313;
}
@media (max-width: 1180px) {
  #secondary_nav {
    display: none;
  }
}
#firstSlide {
  width: 50%;
}
.about_us_content {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about_us_content h1 {
  margin-top: 20px;
  padding-left: 5%;
}

@media (max-width: 780px) {
  .about_us_content {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .about_us_content h1 {
    margin-top: 20px;
    padding-left: 0%;
  }
  #firstSlide {
    width: 0%;
  }
  .lng_self_serv {
    display: none;
  }
  #maintextHolder {
    color: #fff;
  }
  #mainText span {
    color: #fab619;
  }
}

@media (max-width: 400px) {
  #container_about_us {
    height: 110vh;
  }
}
#container_about_us button {
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
  font-size: 1.5vw;
}
#thirdSliderButton {
  width: 300px;
}
.activeButton {
  text-decoration: none !important;
}
#container_about_us hr {
  width: 2px;
  height: 3vw;
  display: inline-block;
  color: #fab619;
}
.animatedText p {
  font-size: 1.3vw;
  margin-bottom: 0;
}
li::marker {
  color: #fab619;
  font-size: 0.6em;
}

#container_ingredients {
  padding-left: 20%;
  padding-right: 20%;
  height: 70vh;
  background-size: cover;
}
#container_ingredients h1 {
  padding-top: 4%;
  color: #fab619;
  text-align: center;
}
#container_ingredients span {
  font-size: 2em;
  font-weight: 700;
  color: #fab619;
}
#container_ingredients p {
  font-size: 1.5em;
  color: #fff;
}
@media screen and (min-width: 900px) {
  .cols-bottom {
    padding-top: 10%;
  }
}
#why_coffee_profitable {
  height: 100%;
  padding-top: 5%;
}
#container_income {
  padding-left: 15%;
  padding-right: 15%;
  height: 90vh;
  background: url(../img/monet_high_resolution.webp) center center/cover;
}
@media screen and (max-width: 900px) {
  #mainText .intro-txt {
    font-size: 5vw;
  }
  #mainText .intro-txt span {
    font-size: 5vw;
  }
  #scroll-button {
    bottom: 10px;
    right: 5px;
  }
  #scroll-button img {
    width: 50%;
  }
  .title {
    padding-top: 10% !important;
    font-size: 7vw !important;
  }
  .about_title {
    margin-top: 20px;
  }
  #logo {
    width: 80%;
  }
  #secondary_logo {
    width: 70%;
  }
  #secondary_nav .row {
    width: none !important;
  }
  #secondary_nav {
    padding-left: 5%;
    padding-right: 5%;
  }
  #secondary_navbar_links {
    display: none !important;
  }
  #nav_phone_number {
    font-size: 1em !important;
  }
  #container_title video {
    left: 10%;
  }
  #container_title {
    padding-top: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }

  #container_ingredients p,
  #container_ingredients span,
  #mainText p,
  #mainText span,
  .animatedText p {
    font-size: 4vw;
  }
  #container_title button {
    font-size: 1em;
  }
  #container_about_us button {
    font-size: 3vw;
  }
  #thirdSliderButton {
    width: auto;
  }
  .animatedText {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
  }
  #container_about_us_text {
    text-align: center;
  }
  #container_ingredients {
    height: 50vh;
    padding-left: 10%;
    padding-right: 10%;
  }
  .col_mobile {
    padding: 3%;
  }
  #container_ingredients h1 {
    padding-top: 0;
    padding-bottom: 5%;
  }
  #why_coffee_profitable {
    padding-top: 0;
  }
  #container_income {
    padding-left: 10%;
    padding-right: 10%;
    height: 115vh;
  }
}
@media screen and (max-width: 400px) {
  #container_income {
    padding-left: 10%;
    padding-right: 10%;
    height: 285vw;
  }
}
@media screen and (max-width: 1450px) {
  .removeForMobile {
    display: none !important;
  }
}
#calculator {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 370px;
  color: #fff;
  margin-left: 10%;
}

#calculator {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 370px;
  border-radius: 22px;
  color: #fff;
  padding: 15px;
  margin-left: 5%;
}
.calculator_values {
  text-align: right;
  color: #fab619;
  font-weight: 700;
  font-size: larger;
}
.calculator_results {
  color: #fff;
  text-align: left;
  font-weight: 700;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.sliderinput {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #fab619;
  outline: 0;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sliderinput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fab619;
  cursor: pointer;
}
.sliderinput::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fab619;
  cursor: pointer;
}
#container_coffeemachine {
  height: 60vw;
}
@media screen and (max-width: 1500px) {
  #container_coffeemachine {
    height: 100vw;
  }
  #container_coffeemachine video {
    top: 50%;
  }
}
@media screen and (max-width: 900px) {
  #calculator {
    margin: 0 auto;
  }
  #container_coffeemachine {
    height: 120vw;
  }
  #container_coffeemachine video {
    padding-right: 10%;
    filter: brightness(0.6) blur(5px);
  }
}
@media screen and (max-width: 500px) {
  #container_coffeemachine {
    height: 145vw;
  }
}
#coffeemachine_variants {
  padding-left: 20%;
  padding-right: 20%;
  height: 100%;
}
#coffeemachine_variants .container {
  padding-top: 3vh;
}
#coffeemachine_variants p {
  padding: 0;
  font-weight: 700;
  color: #fff;
}
@media screen and (max-width: 900px) {
  #coffeemachine_variants {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    width: 100%;
    font-size: 16px;
  }

  #coffeemachine_variants p {
    font-size: 2.8vw;
  }
  .h1_c {
    font-size: 5vw;
  }
}
.h1_c {
  color: #fff;
  text-align: left;
}
.div_c {
  color: #fab619;
  padding: 0 0 0 2%;
  line-height: 150%;
}
#coffeemachine_variants h3 {
  font-size: 2em;
  text-align: left;
  color: #fab619;
}
@media screen and (max-width: 900px) {
  #coffeemachine_variants h3 {
    font-size: 1.5em;
  }
}
#coffeemachine_variants h2 {
  font-size: 1.65em;
}
@media screen and (max-width: 900px) {
  #coffeemachine_variants h2 {
    font-size: 3vw;
  }
}
#coffeemachine_variants button {
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;
  border: 0;
  background-color: #fab619;
  height: 55px;
  font-size: larger;
  font-weight: 500;
}
@media screen and (max-width: 900px) {
  #coffeemachine_variants button {
    font-size: 2.7vw;
    width: 50vw;
    height: 35px;
  }
}
#container_coffeemachine_instruments_img_handler {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
#container_coffeemachine_instruments_img_handler img {
  display: block;
  margin: 0 auto;
  height: 33%;
}
@media screen and (max-width: 900px) {
  #container_coffeemachine_instruments_img_handler {
    padding: 0;
  }
  #container_coffeemachine_instruments_img_handler img {
    height: 45%;
  }
  #container_clients_cases {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 380px) {
  #coffeemachine_variants {
    padding-right: 10%;
    padding-left: 10%;
  }
  #coffeemachine_variants p {
    font-size: 3vw;
  }
  .h1_c {
    font-size: 5vw;
  }
  #coffeemachine_variants h3 {
    font-size: 1em;
  }
  #coffeemachine_variants h2 {
    font-size: 4vw;
  }
  #coffeemachine_variants button {
    font-size: 3.7vw;
    width: 70vw;
  }
  #container_coffeemachine_instruments_img_handler img {
    padding-top: 25%;
    height: 40%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in-image {
  animation: 5s fadeIn;
}
@media screen and (max-width: 600px) {
  .fade-in-image {
    height: 50%;
  }
  .lastBottom {
    margin-top: 50%;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .fade-in-image {
    height: 70%;
  }
}
#container_locations {
  padding-left: 20%;
  padding-right: 20%;
}
@media screen and (max-width: 600px) {
  #container_locations {
    padding-left: 5%;
    padding-right: 5%;
  }
}
#container_locations h1 {
  padding-bottom: 5vh;
}
#container_locations p {
  color: #fff;
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 1em;
}
#container_locations span {
  color: #fab619;
  font-size: xx-large;
  font-weight: 600;
}
#container_locations img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}
#container_clients_cases {
  text-decoration: none;
}
.icons {
  height: 50px !important;
  width: auto !important;
}
#carouselExampleControls p {
  color: #fff;
  font-size: 15px;
}
#carouselExampleControls img {
  align-items: center;
  border-radius: 45px;
}
#carouselExampleControls span {
  color: #fab619;
  font-size: 20px;
  font-weight: 650;
}
#carouselExampleControls h3 {
  color: #fab619;
  font-size: 1.7em;
  font-weight: 500;
  text-align: left;
}
.comment {
  background-color: #1f1e1e;
  border-radius: 15px;
  color: #fff;
  padding: 3%;
}
#mobile {
  display: none;
}
#container_partner video {
  z-index: -2;
}
@media (max-width: 900px) {
  #container_about_us video {
    top: 50%;
    left: 90%;
    filter: brightness(0.4) blur(5px);
  }
  #container_partner video {
    top: 50%;
    left: 65%;
    width: 800px !important;
    height: 900px !important;
  }
}
#form_div {
  float: right;
  width: 500px;
}
#form_container {
  border-radius: 20px;
  padding: 5%;
  height: auto;
  display: flex;
  flex-direction: column;
}
#form_container p {
  color: #fff;
  text-align: left;
  font-size: 120%;
  font-weight: 500;
}
#form_container input {
  text-align: left;
  width: 100%;
  height: 2.5em;
  margin-bottom: 2%;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
}
.closeBtn,
footer a:hover,
footer h4 {
  color: #fab619;
}
#form_container label {
  color: #fab619;
  text-align: left;
  font-weight: 400;
  width: 100%;
  padding-left: 10px;
}
#form_container button {
  margin-top: 0.6em;
  border-radius: 9px;
  width: 100%;
  background-color: #fab619;
  border: 0;
  font-weight: 600;
  height: 40px;
}
#form_popup,
#success_pop_up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto !important;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
}
footer {
  text-align: left;
  padding-top: 3%;
  padding-bottom: 1%;
}
footer span {
  color: #fff;
}
footer p {
  color: #fff;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
footer a {
  color: #fff;
  text-decoration: none;
}
.media_links_handler img {
  width: 38px !important;
}
#social_media_small_screen {
  display: none;
}
#form_popup {
  z-index: 2;
  width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#form_popup #form_div {
  width: 450px;
  margin: 0 auto !important;
  float: none;
}
#success_pop_up {
  z-index: 3;
  width: 475px;
  border: 1px solid #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  #form_div,
  #form_div h2,
  .container_clients_cases_description {
    text-align: center;
  }
  #mobile,
  #social_media_small_screen {
    display: block;
  }
  #social_media_medium_screen,
  .full_sized_spans {
    display: none;
  }
  #container_partner {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
  }
  #container_partner video {
    filter: brightness(0.6) blur(5px);
  }
  #form_div {
    width: 80%;
    float: none;
    margin: 0 auto;
  }
  #form_container {
    border-radius: 25px;
  }
  #form_container p {
    font-size: 80%;
  }
  #form_container input {
    height: 70%;
  }
  #form_popup,
  #form_popup #form_div,
  #success_pop_up {
    width: 90%;
  }
}
.closeBtn {
  cursor: pointer;
  align-self: flex-end;
}
@media screen and (max-width: 1180px) {
  #mobile_nav_bar {
    display: block;
  }
  .nav_div {
    display: none !important;
  }
}
@media screen and (min-width: 1180px) {
  #mobile_nav_bar {
    display: none;
  }
  .nav_div {
    display: block !important;
  }
}
@media screen and (max-width: 780px) {
  footer,
  footer .col-md {
    text-align: center;
  }
  footer .col-md {
    padding-bottom: 5%;
  }
}

#return_home {
  margin-top: 5%;
  border-radius: 20px;
  border: 0;
  background-color: #fab619;
  height: 55px;
  font-size: larger;
  font-weight: 500;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 130px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  border: none;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
  color: #fff;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fab619;
  font-weight: 600;
}

.about_us_title {
  font-size: 35px;
  font-weight: 700;
  padding-left: 5%;
}
@media screen and (max-width: 780px) {
  .about_us_title {
    font-size: 28px;
    font-weight: 700;
    padding-left: 5%;
  }
  .animatedText ul {
    text-align: left;
    margin-top: 0px;
  }
}
.container {
  height: 100%;
}

.get_model_container {
  position: relative;
  height: max-content;
  width: 100%;
}
.background-image {
  width: 100%;
  height: auto;
}
.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-content {
  text-align: center;
  padding: 20px;
}
.form-content button {
  border-radius: 9px;
  width: 50%;
  background-color: #fab619;
  border: 0;
  font-weight: 600;
}
.form-content label {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 50px;
}
.form-content div {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-radius: 12px;
}
.form-content input[type="text"] {
  padding: 10px;
  width: 80%;
  border: none;
}
.form-content input[type="text"]:focus {
  outline: none;
}
.lng_about_us_txt {
  margin-top: 50px;
  padding-right: 30px;
}
@media screen and (max-width: 780px) {
  .get_model_container {
    height: 150px;
  }
  .background-image {
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: -1;
  }
  .form-container {
    z-index: 1;
    width: 100%;
    height: 90%;
  }
  .form-content label {
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 15px;
  }
  .form-content input[type="text"] {
    padding: 5px;
  }
  .lng_about_us_txt {
    margin-top: 50px;
    padding-right: 0px;
  }
  .form-content button {
    width: 40%;
    font-size: 13px;
  }
  .navigation_cont {
    display: none;
  }
}

.task3_cont {
  background-color: #131313;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task3_title_cont {
  width: 70%;
}
.task3_title {
  text-align: left;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.task3_title h1 {
  color: #fab619;
  padding-top: 70px;
  padding-bottom: 30px;
}
.task3_title p {
  color: #fff;
  font-size: 15px;
  width: 300px;
  padding-bottom: 20px;
  font-weight: 700;
}
.task3_title2 {
  color: #000000;
  font-size: 34px;
  font-weight: 400;
  padding-bottom: 60px;
}
.stats_blocks {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
}
.stats_blocks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stats_blocks span {
  color: #fab619;
  font-size: 60px;
  font-weight: 700;
}
.stats_blocks span .small_span {
  font-size: small;
}
.stats_blocks p {
  color: #fff;
  width: 60%;
}
.why_blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 200px;
}
.why_txt {
  width: 16%;
  text-align: left;
  padding-top: 7px;
  color: #000000;
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.why_blocks div {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.why_blocks div:nth-child(1) {
  background-image: url("/img/1.webp");
}
.why_blocks div:nth-child(2) {
  background-image: url("/img/2.webp");
}
.why_blocks div:nth-child(3) {
  background-image: url("/img/3.webp");
}
.why_blocks div:nth-child(4) {
  background-image: url("/img/4.webp");
}
.why_blocks div:nth-child(5) {
  background-image: url("/img/5.webp");
}
.calculator_container {
  width: 100%;
}
.one_cup_info {
  width: 25%;
}

.calc_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.white_cont {
  background-color: #d9d9d9;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.white_block {
  width: 70%;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 780px) {
  .why_blocks div:nth-child(1),
  .why_blocks div:nth-child(2),
  .why_blocks div:nth-child(3),
  .why_blocks div:nth-child(4),
  .why_blocks div:nth-child(5) {
    background-image: none;
  }
  .white_block {
    width: 80%;
    padding-top: 20px;
  }
  .white_cont {
    background-color: #d9d9d9;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    height: 650px;
  }
  .task3_title {
    width: 100%;
    text-align: center;
  }
  .task3_title_cont {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .task3_title h1 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 22px;
  }
  .task3_title p {
    font-size: 11px;
    width: 55%;
    padding-bottom: 15px;
    font-weight: 600;
    display: none;
  }
  .stats_blocks {
    display: flex;
    width: 85%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .stats_blocks div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }
  .stats_blocks span {
    font-size: 40px;
    font-weight: 700;
  }
  .stats_blocks span .small_span {
    font-size: xx-small;
  }
  .stats_blocks p {
    font-size: 11px;
  }
  .task3_title2 {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
  }
  .task3_title2 span {
    font-weight: 500;
  }
  .why_blocks {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .why_txt {
    background-image: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    font-size: 13px;
  }

  .why_blocks div {
    background-image: none;
  }
  .calc_holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .one_cup_info {
    width: 73%;
  }
  #calculator {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.choose_ur_coffe {
  color: #fab619;
  font-size: 43px;
  padding-bottom: 20px;
}
.choise_container {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.inside_cont {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 49.9%;
  height: 100%;
  background-image: url("/img/indoor.webp");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.outside_cont {
  display: flex;
  justify-content: start;
  align-items: end;
  width: 49.9%;
  height: 100%;
  background-image: url("/img/outdoor.webp");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.choose_btn1 {
  border-radius: 9px;
  padding: 10px;
  padding-inline: 60px;
  background-color: #fab619;
  border: 0;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 30px;
  margin-right: 200px;
  box-shadow: 0px 0px 20px 5px black;
}
.choose_btn2 {
  border-radius: 9px;
  padding: 10px;
  padding-inline: 60px;
  background-color: #fab619;
  border: 0;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 30px;
  margin-left: 220px;
  box-shadow: 0px 0px 20px 5px black;
}
.slide_panel {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  transition: transform 0.3s ease;
  z-index: 1000;
  padding: 20px;
}

.left_panel {
  left: 0;
  transform: translateX(-100%);
}

.right_panel {
  right: 0;
  transform: translateX(100%);
  background-image: url("/img/choose_coffee_bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.choise_div_cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 110px;
}
.price_name_cont {
  width: 35%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price_name_cont div:nth-child(2) {
  text-align: right;
}
.bold_text {
  font-size: 30px;
  font-weight: bold;
}
.price {
  font-size: 30px;
}
.price_name_cont p {
  opacity: 0.6;
}
.choises_cont {
  width: 31%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 0px rgb(197, 197, 197);
  align-items: center;
}

.category_title {
  font-size: 25px;
  align-self: self-start;
}

.content {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}
.content.expanded {
  max-height: none;
  padding: 10px 10px;
}
.desc {
  margin: 0;
  padding: 10px;
  width: 100%;
}
.small_text {
  padding: 10px;
  font-size: smaller;
  opacity: 0.6;
  padding-bottom: -10px;
  margin: 0;
}
.choose_model {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.input_with_checkark {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.security_input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.location_input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.saeco_phedra {
  padding: 2px;
  margin: 0;
}
.checkmark {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: #252525;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s;
}
.stan_text {
  position: absolute;
  top: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stan_text span {
  color: white;
  font-size: 25px;
}
.stan_text p {
  color: white;
  opacity: 0.5;
  font-size: 13px;
}
.option input:checked + img + .saeco_phedra + .checkmark {
  opacity: 1;
  background-color: #4caf50;
  color: rgb(0, 0, 0);
}
.coffee_machine_input_cont {
  border: 1px solid #000;
  background-color: #f1f1f1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.security_input_cont {
  background-color: #f1f1f1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.location_input_cont {
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 10px 25px 10px 25px;
}
.location_select_cont {
  background-color: #f1f1f1;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 10px 25px 10px 25px;
}
.divider {
  height: 0.5px;
  background-color: rgb(136, 136, 136);
}
.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff0000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.close_btn:hover {
  background: #cc0000;
}
.confirm_choise {
  color: #000;
  background-color: #fab619;
  border: none;
  width: 80%;
  padding: 15px;
  border-radius: 0px 10px 10px 0px;
}
.confirm_choise2 {
  color: #000;
  background-color: #fab619;
  border: none;
  width: 80%;
  padding: 15px;
  border-radius: 0px 10px 10px 0px;
  display: none;
}

@media screen and (max-width: 1536px) {
  .choose_btn1 {
    padding: 10px;
    padding-inline: 60px;

    margin-bottom: 50px;
    margin-right: 140px;
    box-shadow: 0px 0px 20px 5px black;
  }
  .choose_btn2 {
    padding: 10px;
    padding-inline: 60px;

    margin-bottom: 50px;
    margin-left: 160px;
    box-shadow: 0px 0px 20px 5px black;
  }
  .choise_div_cont {
    gap: 42px;
  }
  .choises_cont {
    width: 38%;
  }
  .price_name_cont {
    width: 38%;
  }
  .category_title {
    font-size: 21px;
  }
  .desc {
    font-size: 14px;
    padding: 6px;
  }
  .bold_text {
    font-size: 28px;
  }
  .price {
    font-size: 28px;
  }
  .coffee_machine_input_cont {
    width: 225px;
    border-radius: 12px;
  }
  .coffee_machine_input_cont img {
    width: 225px;
  }
  .security_input_cont img {
    width: 225px;
  }
}
@media screen and (max-width: 780px) {
  .choose_ur_coffe {
    color: #fab619;
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .choise_container {
    height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .inside_cont {
    width: 49.9%;
    height: 100%;
    background-image: url(/img/indoor.webp);
    background-position: top right;
    background-size: 160%;
    background-repeat: no-repeat;
  }
  .outside_cont {
    width: 49.9%;
    height: 100%;
    background-image: url(/img/outdoor.webp);
    background-position: top left;
    background-size: 160%;
    background-repeat: no-repeat;
  }
  .choose_btn1 {
    border-radius: 4px;
    padding: 3px;
    padding-inline: 22px;
    margin-bottom: 14px;
    margin-right: 32%;
    font-size: 10px;
    box-shadow: 0px 0px 20px 5px black;
  }
  .choose_btn2 {
    border-radius: 4px;
    padding: 3px;
    padding-inline: 22px;
    margin-bottom: 14px;
    margin-left: 37%;
    font-size: 10px;
    box-shadow: 0px 0px 20px 5px black;
  }
  .choise_div_cont {
    flex-direction: column;
    height: 90%;
    gap: 5px;
  }
  .price_name_cont {
    width: 100%;
    height: auto;
  }
  .choises_cont {
    width: 100%;
    justify-content: end;
  }
  .quant_confirm_cont {
    display: flex;
    justify-content: center;
  }
  .quant_confirm_cont2 {
    display: none;
  }
  .confirm_choise {
    padding: 10px;
  }
  .desc {
    font-size: 12px;
  }
  .small_text {
    padding: 5px;
  }
  .coffee_machine_input_cont {
    width: 140px;
    border-radius: 8px;
  }
  .coffee_machine_input_cont img {
    width: 140px;
  }
  .security_input_cont img {
    width: 140px;
  }
  .saeco_phedra {
    font-size: 11px;
  }
  .checkmark {
    width: 20px;
    height: 20px;
    top: -7px;
    right: -7px;
    font-size: 15px;
  }
  .stan_text {
    top: 9%;
  }
  .stan_text span {
    font-size: 21px;
  }
  .stan_text p {
    font-size: 8px;
  }
  .location_input_cont {
    background-color: #f1f1f1;
    border: 1px solid #000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 140px;
    padding: 0px 25px 0px 14px;
  }
  .location_text span {
    font-size: 13px;
  }
  #form_div h2 {
    display: none;
  }
  /* #form_div p {
    display: none;
  } */
}

.dropdown {
  position: relative;
  display: inline-block;
}

#citySearch {
  width: 100%;
  border: none;
  background-color: #f1f1f1;
}
#citySearch:focus {
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 37px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.quant_confirm_cont {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 15px;
}
.quant_confirm_cont2 {
  display: none;
  background: white;
  border-radius: 15px;
}
.quant_inside {
  width: 20%;
  border: none;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
}

.plus_machine {
  border: 0.1px black solid;
  rotate: 270deg;
  font-size: 20px;
  line-height: normal;
}

.minus_machine {
  border: 0.1px black solid;
  rotate: 270deg;
  font-size: 20px;
  line-height: normal;
}
